<app-navbar-medico></app-navbar-medico>
<div class="d-flex  flex-column justify-content-center">
  <form class="row g-3 needs-validation p-xxl-5 "novalidate>
    <h1>Especialidades Existentes</h1>
    <table class="table w-75">
      <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Costo</th>
        <th scope="col">Descripcion</th>
      </tr>
      </thead>
      <tbody *ngFor="let cargaespecialidad of cargaespecialidad">
      <tr>
        <th scope="row">{{cargaespecialidad.id}}</th>
        <td>{{cargaespecialidad.nombre}}</td>
        <td *ngIf="modificarCosto">{{cargaespecialidad.costo}}</td>
        <td *ngIf="modificarCostoVisible">
          <div class="col-md-4 ">
          <input type="number" name="costo" class="form-control" id="validationCustom05423" [(ngModel)]="cambiarEspecialidad.costo" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
        </td>
        <td>{{cargaespecialidad.descripcion}}</td>
        <div class="col-12">
          <button class="btn btn-primary mx-lg-3" type="submit" *ngIf="modificarCosto" (click)="cambiarEstado()">Modificar</button>
          <button class="btn btn-primary mx-lg-3" type="submit" *ngIf="modificarCostoVisible" (click)="cancelarEstado()">Cancelar</button>
          <button class="btn btn-primary mx-lg-3" type="submit" *ngIf="modificarCostoVisible" (click)="cambiarCosto()">Cambiar</button>
        </div>
      </tr>
      </tbody>
    </table>
    <h1>Agregar Especialidad</h1>
    <fieldset class="row mb-3 mt-5" *ngFor="let especialidad of especialidad">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" name="especialidad" type="radio" name="gridRadios" id="gridRadios1" value="{{especialidad.nombre}}" [(ngModel)]="especialidadmedico.nombre" >
          <label class="form-check-label" for="gridRadios1">
            {{especialidad.nombre}}
          </label>
        </div>
      </div>
    </fieldset>
    <div class="col-md-3">
      <label for="validationCustom0543" class="form-label">Costo</label>
      <input type="number" name="costo" class="form-control" id="validationCustom0543" [(ngModel)]="especialidadmedico.costo" required>
      <div class="invalid-feedback">
        Por favor ingresa los datos
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="enviarEspecialidad()">Agregar</button>
    </div>
  </form>
</div>

