<div class="vh-100">
  <nav class="navbar navbar-dark navbar-expand-lg bg-primary" *ngIf="mostrarNavbarInico">
    <div class="container-fluid">
      <a class="navbar-brand" href="/inicio-sesion">Consultora X</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <app-cerrar-sesion class="w-auto"></app-cerrar-sesion>
  </nav>

  <app-navbar-laboratorio *ngIf="mostrarNavbarLab"></app-navbar-laboratorio>

  <h1 class="text-center mt-3" *ngIf="mostrarInicioExamenlab" >Bienvenido laboratorio por favor ingrese los siguientes datos</h1>
  <form class="row g-3 needs-validation p-xxl-5"  *ngIf="mostrarInicioExamenlab" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Tipo de Examen</label>
      <input type="text" name="tipo" class="form-control" id="validationCustom01" [(ngModel)]="laboratorio.tipo" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Costo del examen</label>
      <input type="text" name="costo" class="form-control" id="validationCustom02" [(ngModel)]="laboratorio.costo" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="enviarDatosExamen()">Agregar</button>
    </div>
  </form>
</div>

