<app-navbar-medico></app-navbar-medico>
<div class="d-flex  flex-column justify-content-center">
  <form class="row g-3 needs-validation p-xxl-5 "novalidate>
    <h1>Horarios Existentes</h1>
    <h1>Horario de atención desde 8:00 a 12:00</h1>
    <div class="col-md-3">
      <label for="validationCustom012" class="form-label">Desde</label>
      <input type="time" name="hora1" class="form-control" id="validationCustom012"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom012" class="form-label">Hasta</label>
      <input type="time" name="hora 2" class="form-control" id="validationCustom0132" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" >Agregar</button>
    </div>
    <h1>Horario de atención desde 13:00 a 16:00</h1>
    <div class="col-md-3">
      <label for="validationCustom012" class="form-label">Desde</label>
      <input type="time" name="hora1" class="form-control" id="validationCustom0123"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-3">
      <label for="validationCustom012" class="form-label">Hasta</label>
      <input type="time" name="hora 2" class="form-control" id="validationCustom01324" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" >Agregar</button>
    </div>
  </form>
</div>

