<div class="vh-100">

  <nav class="navbar navbar-dark navbar-expand-lg bg-primary" *ngIf="mostrarNavbarInico">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/navbar-inicio">Consultora X</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <app-cerrar-sesion class="w-auto"></app-cerrar-sesion>
  </nav>

  <app-navbar-medico *ngIf="mostrarNavbarMedico"></app-navbar-medico>
  <div class="d-flex  flex-column justify-content-center row g-3 needs-validation p-xxl-5 " *ngIf="mostrarNavbarMedico">
    <h1>Bienvenido Médico</h1>
  </div>

  <h1 class="text-center mt-3 " *ngIf="mostrarNavbarInico" >Bienvenido médico por favor ingrese los siguientes datos</h1>
  <div class="d-flex  flex-column justify-content-center" *ngIf="mostrarNavbarInico">
    <form class="row g-3 needs-validation p-xxl-5 "novalidate>
      <h2>Especialidad</h2>
      <div class="col-md-8">
        <label for="validationCustom01" class="form-label">Especialidad</label>
        <input type="text" name="especialidad" class="form-control" id="validationCustom01" [(ngModel)]="especialidad.nombre" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-8">
        <label for="validationCustom02" class="form-label">Costo de la especialidad</label>
        <input type="number" name="costo" class="form-control" id="validationCustom02" [(ngModel)]="especialidad.costo" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <h2>Horario</h2>
      <div class="col-md-3">
        <label for="validationCustom02" class="form-label">Desde</label>
        <input type="time" name="hora1" class="form-control" id="validationCustom012" [(ngModel)]="horauno" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom02" class="form-label">Hasta</label>
        <input type="time" name="hora 2" class="form-control" id="validationCustom0132" [(ngModel)]="horados" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit" (click)="enviarEspecialidad()">Agregar</button>
      </div>
    </form>
  </div>
</div>
