<app-navbar-admin></app-navbar-admin>
<button type="submit" class="btn btn-primary" (click)="descargaPdf('Porcentaje')">Descargar Porcentaje</button>
<button type="submit" class="btn btn-primary" (click)="descargaPdf('Top5Medicos')">Descargar Top Medicos</button>
<button type="submit" class="btn btn-primary" (click)="descargaPdf('Top5Laboratorios')">Descargar Top laboratorios</button>
<button type="submit" class="btn btn-primary" (click)="descargaPdf('Totalingresos')">Descargar Total de ingresos</button>
