<app-navbar-paciente></app-navbar-paciente>
<div class="d-flex  flex-column justify-content-center row g-3 needs-validation p-xxl-5 ">
  <h1>Asignar Consulta</h1>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Médicos</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
</div>
